<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="blog">
                <h2 class="heading">Hey MegaMind!</h2>
                <h4 class="sub-heading">
                    What's on your mind today?
                </h4>
                <form>
                    <div class="form-group">
                        <label for="title">A suitable title for your blog:</label>
                        <input type="text" id="title" class="form-control title" placeholder="Title goes here"
                            [(ngModel)]="title" name="title">
                    </div>
                    <editor apiKey="{{ tinymce_key }}" [init]="init" [(ngModel)]="blogdata" name="blogdata" (ngModelChange)="editorChanges()" [inline]="false"></editor>
                    <div class="submit-div text-center">
                        <p class="error-msg text-center" *ngIf="submit_error">{{ submit_error_message }}</p>
                        <button type="submit" class="submit-btn" (click)="submit()">Submit</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>