.blog-container {
    padding: 20% 10% 20% 10%;
}

.heading {
    letter-spacing: 0.08em;
    font-weight: bolder;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    margin-top: 3%;
    letter-spacing: 0.05em;
    text-align: justify;
}

.author {
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1em;
    color: gray;
    padding-left: 10%;
}

.line {
    border: 1px solid #8d8989;
}

.image-div {
    text-align: center;
}
.image {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
}

.article {
    text-align: justify;
    letter-spacing: 0.08em;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 1.5em;
    }

    .description {
        font-size: 1.15em;
    }

    .article {
        font-size: 0.9em;
    }
  }